<html xmlns="http://www.w3.org/1999/xhtml" class="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow">

  <title>{{title}}</title>
  <link href="style.css" rel="stylesheet" />
</head>

<body>
<div id="logo"><a href="#"><div id="logo-wrapper"></div></a></div>

<div id="container">
  <div id="container-wrapper">

    <div id="header"> {{title}}
      <div id="header-wrapper">
      </div>
    </div>


    <div id="content">
      <div id="content-wrapper">


        <div id="form" >
          <div id="form-wrapper">
            <form id="form-login" action="/login" method="post">
              <div>
                <div>
                  <label for="username">Username or email</label>
                </div>

                <div>
                  <input id="username" name="username" value="" type="text" autofocus autocomplete="off" />
                </div>
              </div>

              <div>
                <div>
                  <label for="password">Password</label>
                </div>

                <div>
                  <input id="password" name="password" type="password" autocomplete="off" />
                </div>
              </div>

              <div>
                <div id="form-options">
                  <div>
                  </div>
                </div>

                <div id="form-buttons">
                  <div >
                    <input name="login" id="kc-login" type="submit" value="Submit"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
