<h1>
  Processes
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of Tasks</th>
      <th>Used In</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Inspect and Sign</td>
      <td>Inspect a vehicle and collect the customer's signature</td>
      <td>2 Tasks</td>
      <td><a href="#">3 Work Orders</a></td>
    </tr>
    <tr>
      <td>Assess Risk</td>
      <td>Realize risk evaluation</td>
      <td>1 Tasks</td>
      <td><a href="#">0 Work Orders</a></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <nav aria-label="Page navigation" class="col-md-10">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="col-md-2">
    <button type="button">
      <span class="fa fa-plus"></span>
      Create
    </button>
  </div>
</div>