<h1>
  Available Tasks
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vehicle Inspection</td>
      <td>Inspect an automotive vehicle, verifying various performance thresholds and include pictures of key parts.</td>
      <td>
        <button type="button" class="btn btn-warning">Disable</button>
      </td>
    </tr>
    <tr>
      <td>Risk Assessment</td>
      <td>
        The following items of a risk assessment can be collected this module :
        <ul>
          <li>
            Completed / uncompleted
          </li>
          <li>
            Signature capture
          </li>
        </ul>
      </td>
      <td>
        <button type="button" class="btn btn-warning">Disable</button>
      </td>
    </tr>
    
    
  </tbody>
</table>

<div class="row">
  <nav aria-label="Page navigation" class="col-md-10">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <p class="col-md-10">
    <a href="#">Check the RainCatcher documentation to learn how to add a new Task type</a>
  </p>
</div>