<h1>
  Work Orders
</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Current Task</th>
      <th>Last Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>User Picture</td>
      <td>Trever Smith</td>
      <td><span class="label label-primary">In Progress</span></td>
      <td>Inspect Vehicle</td>
      <td>5 minutes ago</td>
    </tr>
    <tr>
      <td>User Picture</td>
      <td>Trever Smith</td>
      <td><span class="label label-default">Assigned</span></td>
      <td>Inspect Vehicle</td>
      <td>5 minutes ago</td>
    </tr>
    <tr>
      <td>User Picture</td>
      <td>Trever Smith</td>
      <td><span class="label label-warning">Blocked</span></td>
      <td>Assess Risk</td>
      <td>2 days ago</td>
    </tr>
    <tr>
      <td>User Picture</td>
      <td>Trever Smith</td>
      <td><span class="label label-success">Done</span></td>
      <td>Assess Risk</td>
      <td>1 year ago</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <nav aria-label="Page navigation" class="col-md-10">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="col-md-2">
    <button type="button">
      <span class="fa fa-plus"></span>
      Create
    </button>
  </div>
</div>